<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Applications -->
   <extension
         id="resultGenerator"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.test.performance.ui.Main">
         </run>
      </application>
   </extension>
   <extension
         id="importPerformanceData"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.test.performance.ui.ImportDataMain">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.test.internal.performance.results.ui.PerformanceResultsPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
