<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.build.tools"
   name="org.eclipse.build.tools"
   version="1.0.0">

	
   <extension point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="buildTools.jar">
      </extraClasspathEntry>
   </extension>
</plugin>
